<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.treemarket.tree.mapper.TestMapper">

    <!-- R -->
    <select id="selectAllList" resultType="com.treemarket.tree.domain.CtgVO">
        SELECT * FROM ctgtbl
    </select>

</mapper>