<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.treemarket.tree.mapper.AddressMapper">

    <select id="getAddressId" parameterType="com.treemarket.tree.domain.AddressVO" resultType="long">
        SELECT addressid FROM addresstbl WHERE sido = #{sido} AND sigungu = #{sigungu} AND town = #{town}
    </select>

</mapper>