<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.treemarket.tree.mapper.ChatroomMapper">

    <insert id="saveChatroom" parameterType="com.treemarket.tree.dto.Chatroom.ChatroomRequest">
        INSERT INTO chatroomtbl VALUES
            (CHATROOMTBL_SEQ.NEXTVAL, #{postId}, #{buyerNo}, sysdate, 0)
    </insert>

</mapper>
