<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.treemarket.tree.mapper.JoinMapper">

    <select id="getAllBoards" resultType="com.treemarket.tree.dto.Productpost.res.AdminProductPostList">
        select P.postId
             , C.ctgName
             , U.userId
             , A.sido
             , A.sigungu
             , A.town
             , P.title
             , P.price
             , P.details
             , P.image
             , P.creationDate
             , P.productStatus
        from productposttbl P
                 LEFT OUTER JOIN usertbl U
                                 ON P.userno = U.userno
                 LEFT OUTER JOIN addresstbl A
                                 ON P.addressId = A.addressId
                 LEFT OUTER JOIN ctgtbl C
                                 ON P.ctgid = C.ctgid
        WHERE P.productStatus = 1
    </select>




</mapper>