<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.treemarket.tree.mapper.JoinMapper">

    <select id="findLikePostByUserNo" resultType="com.treemarket.tree.dto.Productpost.res.ProductMypageResponse">
        SELECT p.postid, p.title, p.price, p.image
        FROM productposttbl p
        JOIN liketbl l ON p.postid = l.postid
        WHERE l.userno = #{userNo} AND p.productstatus = 1
    </select>
    
    <select id="findPurchasePostByUserNo" resultType="com.treemarket.tree.dto.Productpost.res.ProductMypageResponse">
        SELECT p.postid, p.title, p.price, p.image
        FROM productposttbl p
        JOIN purchasecomptbl c ON p.postid = c.postid
        WHERE c.buyerno = #{userNo}
    </select>

    <select id="findSalesPostByUserNo" resultType="com.treemarket.tree.dto.Productpost.res.ProductMypageResponse">
        SELECT p.postid, p.title, p.price, p.image
        FROM productposttbl p
        JOIN purchasecomptbl c ON p.postid = c.postid
        WHERE p.userno = #{userNo}
    </select>

    <select id="findRegisterPostByUserNo" resultType="com.treemarket.tree.dto.Productpost.res.ProductMypageResponse">
        SELECT p.postid, p.title, p.price, p.image
        FROM productposttbl p
        LEFT JOIN purchasecomptbl c ON p.postid = c.postid
        WHERE p.userno = #{userNo} AND c.postId IS NULL
    </select>
    
    <select id="getAllBoards" resultType="com.treemarket.tree.dto.Productpost.res.AdminProductPostList">
        select P.postId
             , C.ctgName
             , U.userId
             , A.sido
             , A.sigungu
             , A.town
             , P.title
             , P.price
             , P.details
             , P.image
             , P.creationDate
             , P.productStatus
        from productposttbl P
                 LEFT OUTER JOIN usertbl U
                                 ON P.userno = U.userno
                 LEFT OUTER JOIN addresstbl A
                                 ON P.addressId = A.addressId
                 LEFT OUTER JOIN ctgtbl C
                                 ON P.ctgid = C.ctgid
        WHERE P.productStatus = 1
    </select>

    <select id="getAllUsers" resultType="com.treemarket.tree.dto.User.AdminUserList">
        SELECT u.userNo, u.userNickname, u.userName, u.userId, u.userPhoneNo,
               (
                   (SELECT COUNT(*) FROM purchaseComptbl WHERE postID IN (SELECT postID FROM productPosttbl WHERE userNo = u.userNo))
                   +
                   (SELECT COUNT(*) FROM purchaseComptbl WHERE buyerNo = u.userNo)
                ) AS transactionCount,
               u.userGrade,
               (SELECT COUNT(*) FROM productPosttbl WHERE userNo = u.userNo) AS postCount,
               CASE
                   WHEN u.userValidity = 1 THEN 'X'
                   WHEN u.userValidity = 0 THEN 'O'
                   ELSE NULL
               END AS userValidity
        FROM usertbl u
        WHERE u.userNo >= 1;
    </select>

    <insert id="savePurchaseComp">
        INSERT INTO purchasecomptbl (purchasecompid, postid, buyerno, PURCHASECOMPDATE)
        SELECT purchasecomptbl_seq.nextval, postid, buyerno, sysdate
        FROM chatroomtbl
        WHERE roomid = #{roomId}
    </insert>

    <select id="getSellerNo" resultType="Long">
        SELECT p.userno
        FROM chatroomtbl c
        INNER JOIN productPosttbl p ON c.postid = p.postid
        WHERE c.roomid = #{roomId}
    </select>

    <select id="getCompInfo" resultType="com.treemarket.tree.domain.PurchaseCompVO">
        SELECT p.*
        FROM purchasecomptbl p
        INNER JOIN chatroomtbl c ON p.postid = c.postid
        WHERE c.roomid = #{roomId}
    </select>

    <select id="getTransactionCount" resultType="int">
        SELECT (
                    (SELECT COUNT(*) FROM purchaseComptbl WHERE postID IN (SELECT postID FROM productPosttbl WHERE userNo = u.userNo))
                    +
                    (SELECT COUNT(*) FROM purchaseComptbl WHERE buyerNo = u.userNo)
                ) AS transactionCount
        FROM usertbl u
        WHERE u.userno = #{userno}
    </select>

    <select id="getUserGrade" resultType="String">
        SELECT U.usergrade
        from usertbl U
            inner join  productposttbl P
                ON U.userno = P.userno
        where P.postid = #{prodId}
    </select>



</mapper>