<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.treemarket.tree.mapper.UserMapper">

    <select id="findUserByUserId" resultType="com.treemarket.tree.domain.UserVO">
        SELECT * FROM usertbl WHERE userid = #{userId} AND uservalidity = 1
    </select>

    <select id="findUserByUserNickname" resultType="com.treemarket.tree.domain.UserVO">
        SELECT * FROM usertbl WHERE usernickname = #{userNickname} AND uservalidity = 1
    </select>

    <select id="findUserByUserNo" resultType="com.treemarket.tree.domain.UserVO">
        SELECT * FROM usertbl WHERE userno = #{userNo} AND uservalidity = 1
    </select>

    <insert id="saveUser" parameterType="com.treemarket.tree.domain.UserVO">
        INSERT INTO usertbl VALUES
            (USERTBL_SEQ.NEXTVAL, #{userId}, #{userAddress}, #{userPw}, #{userName},
             #{userNickname},#{userPhoneno}, #{userGrade}, #{userValidity})
    </insert>

    <update id="editUser" parameterType="com.treemarket.tree.dto.User.EditResponse">
        UPDATE usertbl SET useraddress = #{userAddress}, userpw = #{userPw},
                           usernickname = #{userNickname}, userphoneno = #{userPhoneno}
        WHERE userno = #{userNo}
    </update>

    <delete id="removeUser" parameterType="Long">
        UPDATE usertbl SET uservalidity = 0 WHERE userno = #{userNo}
    </delete>



</mapper>