.login {
  height: 100%;
  text-align: center;
}
.login_main_img {
  width: 17%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}
.login_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin: auto;
}
.login_left {
  background-color: #5c925e;
  width: 50%;
  height: 700px;
  border-radius: 20px 0 0 20px;
}
.login_left_img {
  width: 65%;
  margin-top: 115px;
}
.login_right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 50%;
  height: 700px;
  background-color: #afd485;
  border-radius: 0 20px 20px 0;
}
.login_right input {
  width: 70%;
  height: 30px;
  margin: auto;
  background-color: #d9f3bc;
  border: none;
  padding: 10px;
}

.login_right p {
  text-align: start;
  margin: 80px 0 0 80px;
  font-size: 12px;
  color: black;
}
.login_right button {
  width: 80%;
  height: 50px;
  margin-bottom: 30px;
  margin: auto;
  border: none;
  border-radius: 10px;
  background-color: #47ad49;
  color: white;
  font-size: 20px;
}
