.mypage_List {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
}
.mypage_List_form {
  display: flex;
  flex-direction: row;
  justify-content: start;
  height: 150px;
  width: 80%;
  border-bottom: 1px solid #ccc;
  margin: auto;
}
.mypage_List_img {
  width: 10%;
  margin: auto 0 auto 40px;
}
.mypage_List_text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 30px 20px;
}
.mypage_price {
  margin-top: -30px;
}
