@font-face {
  font-family: "NPSfontBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SUITE-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Bold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}
.productedit_body {
  width: 50%;
  margin: auto;
  text-align: start;
  padding-top: 50px;
  font-family: "SUITE-Regular";
}
.productsedit_h2 {
  margin: auto;
}
.productedit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.productedit_body input {
  width: 100%;
  height: 30px;
  border: none;
  text-align: start;
}
.productedit_body .product_info {
  height: 100px;
}
#address {
  text-align: center;
  width: 90px;
}
.info_section {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.town-info button {
  background-color: #47ad49;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #47ad49;
  color: white;
  border-radius: 20px;
  width: 15%;
  text-align: center;
  font-size: 15px;
  padding: 3px 0;
  font-family: "SUITE-Regular";
  border: none;
}
#update_address {
  width: 25%;
  border: none;
  border-radius: 7px;
  background-color: #d9f3bc;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-size: 15px;
}
.img_input {
  height: 150px;
}
.productedit_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  margin-right: 90px;
}
.productedit_submit {
  background-color: #3fb542;
  border: none;
  border-radius: 8px;
  width: 200%;
  height: 150%;
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-family: "SUITE-Regular";
}
.productedit_delete {
  background-color: #e8e8e8;
  border: none;
  border-radius: 8px;
  width: 200%;
  height: 150%;
  font-size: 20px;
  cursor: pointer;
  font-family: "SUITE-Regular";
}
